<div class="contendor">
    

    <div class="container--fluid">

      <div class="row" >
              <aside class="col-12 col-lg-6 texto" *ngFor="let u of user">
                  <h2 class="fs-2 animate__animated animate__fadeInDown">Hola, mi nombre es <span class="coloreado">{{u.nombre}}</span></h2>

                  <h3 class="fs-2 animate__animated animate__fadeInDown" style="margin-top: 1em;"> SOY <span class="coloreado animate__animated animate__zoomIn animate__infinite animate__slower">{{u.otro}}</span></h3>
                  

                  <p class="lh-base animate__animated animate__fadeInDown" style="margin-top: 2em;">{{u.descripcion}}</p>
                  

                  
                  

                </aside>

                

              <aside class="col-12 col-lg-6 perfil">

                <img src="../../../assets/perfil.jpg"  class="img-fluid foto animate__animated animate__fadeIn animate__slower animate__delay-2s"  alt="perfil">
                

              </aside>
              <p *ngIf="loginService.isLogged()" class="fs-6 aviso animate__animated animate__flash" >*ESTA INFORMACIÓN ES EDITABLE DESDE LA SECCION CONTACTO</p>
              
        </div>

        
            

    </div>



  </div>
  
    
