<div class="contendor">
    <!-- <h3 class="fs-1 titulo">INICIO</h3> -->

    <div class="container--fluid">

      <div class="row">
            <aside class="col-12 col-lg-6 texto">

                <h2 class="fs-2">Hola, mi nombre es Daniel Pereyra</h2>

                <h3 class="fs-2"><span>SOY #</span> <span class="typing">JOJO</span> </h3>

                <p class="lh-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facere enim dolorem excepturi dolore? Deleniti et non doloribus hic provident quam recusandae omnis dolorem soluta? Atque molestiae perspiciatis quas, odit ex impedit laborum quidem odio adipisci, commodi corrupti dolore alias possimus ad reprehenderit totam, ab molestias et. Eveniet ullam possimus dicta. Voluptatibus voluptates temporibus ea nemo modi quaerat qui quis?</p>

            </aside>

            <aside class="col-12 col-lg-6 perfil">

                <img src="../../../assets/perfil.jpg"  class="img-fluid foto"  alt="perfil">

            </aside>

      </div>  

        
        
        

            

    </div>

    <script>
        var typed = new typed(".typing",{
      strings: ["Diseñador Wed", "Productor"],
      typeSpeed:100,
      BackSpeed:60,
      loop:true
    })
    </script>
    
