.contendor{
    background: var(--color-transp);
    position: relative;
    top: 60px;
    left: 25%;
    width: 75%;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    color: var(--color-terc);
}

.titulo{
    color:var(--color-sec);
    padding-right: 10px;
    /* position: absolute; */
    position: relative;
    border-bottom: 5px solid var(--color-terc);
    
    
}

span{
    color:var(--color-sec)
}

h5{
    margin-top: 10px;
}

.tablas{
    background: var(--color-box); 
    
}

.tabla{
    background: var(--color-box);
    margin-top: 8px;
}


.redes{
    margin: 30px;
}

.nav-link{
    padding-bottom: 10px;
}

a:hover{
    color:var(--color-sec);
   
}
