.contendor{
    background: rgba(43, 43, 43, 0.2);
    position: relative;
    top: 60px;
    left: 25%;
    width: 75%;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFA;
}

.titulo{
    color:#FB5012;
    padding-right: 10px;
    /* position: absolute; */
    position: relative;
    border-bottom: 5px solid white;
    
    
}

span{
    color:#FB5012
}

h5{
    margin-top: 10px;
}

.card{
    background-color:#1a1919;
}

img{
    padding: 8px;
    border-radius: 50%;
}

.card-body{
    padding: 0;
    padding: 5px;
}



.tablas{
    background: rgba(43, 43, 43, 0.4); 
    
}

.tabla{
    background: rgba(43, 43, 43, 0.4);
    margin-top: 8px;
}

.progress-bar{
    background-color: #FB5012;
   
}