<div class="contendor">
    <h3 class="fs-1 titulo">SOBRE MI</h3>

    <div class="container">
      
        <div class="row align-items-star">
          <div class="col-12 col-lg-6 m-x-5 tablas">
              <!-- BOX EDUCACION -->
                <span class="fs-2">EDUCACIÓN</span>

                <!-- BOTON EDICION -->
                
                <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar" data-bs-toggle="modal" data-bs-target="#educacion"><i class="bi bi-folder-plus"></i></button>
                
                <br>
                

<!-- MODAL -->
<div class="modal fade" id="educacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="educacion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educacion">AGREGAR EDUCACIÓN</h5>
        
        
      </div>
      
      <div class="modal-body">
       <!-- FORMULARIO -->
       <form [formGroup]="educacionForm" (ngSubmit)="agregarEducacion()">

        <div class="mb-3 form-group">
          <label for="titulo" class="form-label">TÍTULO OBTENIDO</label>
          <input formControlName="titulo" type="text" class="form-control" id="titulo">
          
        </div>

        <div class="mb-3 form-group">
          <label for="institucion" class="form-label">INSTITUCIÓN</label>
          <input type="text" formControlName="institucion" class="form-control" id="institucion">
          
        </div>

        <div class="mb-3 form-group">
          
          <div>
            <input class="me-1" type="radio" id="actual" name="curso" formControlName="actual" value="true"checked>
            <label for="huey">EN CURSO</label>
          </div>
      
          <div>
            <input class="me-1" type="radio" id="finalizado" name="curso"  formControlName="finalizado" value="true">
            <label for="dewey">FINALIZADO</label>
          </div>
          
        </div>

        <div class="mb-3 form-group">
          <span class="inserte">INSERTE IMAGEN DE LA INSTITUCIÓN</span>
          <input type="text" class="form-control"  formControlName="logoInst" id="imagen-institucion">  
        </div>
        
        
      </form>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetEducacion()">ANULAR</button>
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (click)="agregarEducacion()" [disabled]="educacionForm.invalid">GUARDAR CAMBIOS</button>
      </div>
    </div>
  </div>
</div>

                <!-- TARJETAS -->

                <div *ngFor="let e of instituciones" class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-3 d-flex align-items-center caja-foto">
                        <img src="../../../assets/logo-edu.jpg" class="img-fluid" alt="...">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title">{{e.titulo}}</h5> 
                        
                          <p class="card-text">{{e.institucion}}</p>
                          <p   class="card-text"><small class="text-muted">EN CURSO</small></p>
                          <p   class="card-text"><small class="text-muted">FINALIZADO</small></p>
                          
                          <!-- BOTONES DE EDICION -->

                          <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar"><i class="bi bi-folder-x"></i></button>
                          <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar"><i class="bi bi-folder-minus"></i></button>

                        </div>
                      </div>
                    </div>
                </div>


                
                
            </div>


            <div class="col-12 col-lg-6 tablas">
              <!-- BOX EXPERIENCIA -->
                <span class="fs-2">EXPERIENCIA</span>

                <!-- BOTON EDICION -->
                <button  *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar" data-bs-toggle="modal" data-bs-target="#experiencia"><i class="bi bi-folder-plus"></i></button>
                <br>

                <!-- MODAL -->
                <div class="modal fade" id="experiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="experiencia" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="experiencia">AGREGAR EXPERIENCIA</h5>
                        
                        
                      </div>
                      
                      <div class="modal-body">
                       <!-- FORMULARIO -->
                       <form>
                
                        <div class="mb-3">
                          <label for="empresa" class="form-label">NOMBRE DE LA EMPRESA U ORGANISMO</label>
                          <input type="text" class="form-control" id="empresa">
                          
                        </div>
                
                        <div class="mb-3">
                          <label for="cargo" class="form-label">CARGO</label>
                          <input type="text" class="form-control" id="cargo">
                          
                        </div>
                
                        <div class="mb-3">
                          <div class="form-check date">
                            INICIO DE ACTIVIDADES
                            <input type="date" class="calendario" name="inicio-empresa"> 
                          </div>

                          <br>
                
                          <div class="form-check date">
                            <div class="form-check date">
                              FIN DE ACTIVIDADES
                              <input type="date" class="calendario" name="finalizar-empresa"> 
                            </div>
                          </div>

                          <br>

                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="actualmentexp" id="actualmentexp">
                            <label class="form-check-label" for="actualmentexp">
                              ACTUALMENTE TRABAJANDO
                            </label>
                          </div>

                          <br>

                          <div class="mb-3">
                            DESCRIPCIÓN DEL CARGO
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                            
                          </div>
                          
                        </div>
                
                        <div class="mb-3">
                          <span class="inserte">INSERTE IMAGEN DE LA EMPRESA</span>
                          <input type="file" class="form-control" id="imagen-empresa">
                          
                        </div>
                        
                        
                      </form>
                
                    </div>
                      <div class="modal-footer">
                        <button *ngIf="loginService.isLogged()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">ANULAR</button>
                        <button *ngIf="loginService.isLogged()" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">GUARDAR CAMBIOS</button>
                      </div>
                    </div>
                  </div>
                </div>





                <!-- TARJETAS -->

                <div *ngFor="let xp of experiencias" class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-3 d-flex align-items-center caja-foto">
                        <img src="../../../assets/logo-edu.jpg" class="img-fluid" alt="...">
                      </div>
                      <div class="col-md-9">
                        <div class="card-body">
                          <h5 class="card-title">{{xp.cargo}}</h5>
                          <p class="card-text">{{xp.descripcion}}</p>
                          <h6 class="card-title">{{xp.empresa}}</h6>
                          <p class="card-text"><small class="text-muted">{{xp.inicio}}</small></p>

                          <!-- BOTONES DE EDICION -->

                          <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar"><i class="bi bi-folder-x"></i></button>
                          <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar"><i class="bi bi-folder-minus"></i></button>
                          
                        </div>
                      </div>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-12 tabla">
              <!-- BOX SKILL -->
                <span class="fs-2">SKILLS</span>
                
                                
                <!-- BOTON EDICION -->
                <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar" data-bs-toggle="modal" data-bs-target="#skill"><i class="bi bi-folder-plus"></i></button>

              </div>

            <div *ngFor="let sk of skills" class="col-12 tablas">
              
            
                <h4>{{sk.skill}}</h4>
                
                <!-- BOTONES DE EDICION -->

                <button *ngIf="loginService.isLogged()" type="button" class="btn btn-outline-light btn-sm agregar"><i class="bi bi-folder-x"></i></button>
                <button *ngIf="loginService.isLogged()"  type="button" class="btn btn-outline-light btn-sm agregar"><i class="bi bi-folder-minus"></i></button>
                
                <progress  class="progress" style="height: 30px;" value="{{sk.dominio}}" max="100" aria-valuenow="auto" aria-valuemin="0" aria-valuemax="100"></progress>

            </div>

        
        </div>

    </div>

    <!-- MODAL -->
    <div class="modal fade" id="skill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="skill" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">AGREGAR SKILL</h5>
            
            
          </div>
          
          <div class="modal-body">
           <!-- FORMULARIO -->
           <form>
    
            <div class="mb-3">
              <label for="habilidad" class="form-label">SKILL</label>
              <input type="text" class="form-control" id="habilidad">
              
            </div>
    
                
            <div class="mb-3">
              
              <label for="dominio" class="form-label">DOMINIO DEL SKILL</label>
              <input type="range" class="form-range" min="0" max="100" step="25" id="dominio">
              
            </div>
            
            
          </form>
    
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ANULAR</button>
            <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">GUARDAR CAMBIOS</button>
          </div>
        </div>
      </div>
    </div>

    



</div>


