<div class="menu-entero">
    <nav class="header navbar navbar-expand-lg fixed-top">
    
        <div class="container-fluid">
        
          <h6> <img src="../../../assets/arg-prog-logo.png" class="logo fs-3" alt="">#YoProgramo</h6>
        
             
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">LOGIN</button>    
        </div>
        
    </nav>

    <!-- MODAL -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">LOGIN</h5>
              
            </div>

            
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">USUARIO</label>
                  <input type="email" class="form-control" placeholder="Mail o Usuario" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1"  class="form-label">CLAVE</label>
                  <input type="password" class="form-control" placeholder="Contraseña" id="exampleInputPassword1">
                </div>
                
                
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">INICIAR SESION</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
        
        <!-- MENU LATERAL -->
        <div class="conter">

        
        
        <nav class="caja-menu">
            <h1 class="fs-1">DANIEL PEREYRA</h1>
            <a class="nav-link active fs-3" href="#">INICIO</a>
            <a class="nav-link fs-3" href="#">SOBRE MI</a>
            <a class="nav-link fs-3" href="#">PROYECTOS</a>
            <a class="nav-link fs-3" href="#">CONTACTO</a>

        </nav>
    
            
    
    </div>
    
</div>