/* You can add global styles to this file, and also import other style files */
body{
    background-color: #171614;
    background-image: url(../src/assets/arg-prog-logo.png);
    background-repeat:no-repeat;
    

}